{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 90,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"singleAttributePerLine": true,
	"bracketSameLine": false,
	"svelteBracketNewLine": true,
	"plugins": ["prettier-plugin-svelte"],
	"svelteSortOrder": "options-scripts-markup-styles",
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
