@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Monkstead;
		font-weight: 400;
		src: url(/fonts/Monkstead.woff2) format("woff2"),
			url(/fonts/Monkstead.woff) format("woff");
		font-display: block;
	}

	html {
		-webkit-tap-highlight-color: transparent;
		scroll-behavior: smooth;
	}

	.title-shadow {
		text-shadow: 3px 3px 0 #222831;
	}

	.title-shadow-bright {
		text-shadow: 3px 3px 0 #efbb35;
	}

	::selection {
		color: #f9ffee;
		background-color: #efbb35;
	}

	@media screen and (max-width: 1440px) {
		html {
			font-size: 14px;
		}
	}

	@media screen and (max-width: 1280px) {
		html {
			font-size: 12px;
		}
	}

	@media screen and (max-width: 767px) {
		html {
			font-size: 14px;
		}
	}

	@media screen and (min-width: 2048px) {
		html {
			font-size: 20px;
		}
	}

	@media screen and (max-width: 767px) {
		.title-shadow {
			text-shadow: 2px 2px 0 #222831;
		}

		.title-shadow-bright {
			text-shadow: 2px 2px 0 #efbb35;
		}
	}
}

@layer components {
	.text-basic {
		@apply text-2xl leading-8 tracking-wider mb-8 -md:text-2xl -md:mb-4;
	}

	.text-title {
		@apply font-logo text-6xl mb-12 text-accent title-shadow -md:text-4xl;
	}

	.text-article-subtitle {
		@apply font-bold mb-4 mt-8 text-bright bg-dark inline-block px-4
	}

	.text-article-title {
		@apply text-3xl mt-16 mb-8 text-accent font-bold
	}
}
